
body{
  background-color: aliceblue;}
  
  .text-block {
    width:100%;
    position: absolute;
    bottom:0px;
    background-color: rgba(56,82,123, 1);
    color: white;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
    
  }
  .text-block h3, p{
    margin: 5px;
  }